<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<h3>Find Most and Least Violations</h3>
<p>page loads: <span id='showDate'></span></p>
<p>Select one of the two options below.</p>

<form>
	<p>Select number of violations:<p> 
        <input type='radio' id='lessthan5' name='violations' value = 'less' checked> Less than 5 violations <br>
		<input type='radio' id='morethan5' name='violations' value = 'more'> 5 or more violations<br>
	<p><input type='button' id='btn2' value="Get Violations"></p>
</form>

<div id='data' style='margin: 10px'>      <!-- insert user data here -->
data
</div>  

<form action='/logout' method='post'>
   <p><input type='submit' value = "Log Out">
</form>
<p>Makes client-side request for Ajax data, html table constructed by the client. Page does not re-post.<p>

<script>
window.onload = function() {
   var da = new Date();
   var tm = da.toLocaleTimeString();
   document.getElementById('showDate').innerHTML = tm;
}


document.getElementById('btn2').onclick = function() {  // using DOM methods
	
	if(document.getElementById('lessthan5').checked == true)
		selector = 'less';
	else
		selector = 'more';
	
	axios.post('/findusers', {violationRange: selector})
		.then(function (response) {
			users = response.data;
			document.getElementById('data').innerHTML = "";
			
			var t = document.createElement('table');
			t.setAttribute('cellspacing', 8);
			t.innerHTML = "";  // blank out table
		
			for(i=0; i<users.length; i++) {
				var row = t.insertRow(i);
				var cell1 = row.insertCell(0);
				var cell2 = row.insertCell(1);
				cell1.innerHTML = users[i].last_name;
				cell2.innerHTML = users[i].violations;
		    }
			document.getElementById('data').appendChild(t);
		
		})
		.catch(function (error) {
			console.log(error);
		});

}

</script>

