
<h3>Please Log In</h3>
<p>Enter your username and password.</p>

<form method='post' action='/login'>
<p><input type='text' name='username'> Enter User name </p>
<p><input type='text' name='password'> Enter Password </p>

<p><input type='submit'></p>
</form>
<p>A few users.
<ul>
<li>{username : smills, password : qwert}</li>
<li>{username : fbaker, password : baker}</li>
<li>{username : tgreen, password : green} </li>
</ul>
</p>

