<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<h3>Weather Data</h3>
<p>page loads: <span id='showDate'></span></p>
<p>Select city for weather info.</p>

<form>
   <p>
	Select a City: <select id='cities'>
        <option value = 'lat=33.640411&lng=-84.419853'> Atlanta, GA </option>
		<option value = 'lat=42.3656132&lng=-71.0095602000000'> Boston, MA </option>
		<option value = 'lat=42.8401364&lng=-106.32184' > Casper, WY</option>
		<option value = 'lat=30.495404&lng=-86.549484' > Destin, FL </option>
	</select>
   </p>
	<p><input type='button' id='btn1' value="GET Weather Data"></p>
</form>
 
<div id='data'></div>  <!-- insert weather data here -->
<br>
<form action='/logout' method='post'>
<p><input type='submit' value = "Log Out"></p>
</form>
<p>Makes client-side Ajax request to an external web service for weather data. page does not re-post.<p>
<script>

window.onload = function() {
   var da = new Date();
   var tm = da.toLocaleTimeString();
   document.getElementById('showDate').innerHTML = tm;
}


document.getElementById('btn1').onclick = function() {

	airport = document.getElementById('cities').value;

	var url = "http://api.geonames.org/findNearByWeatherJSON?";    
	url += airport;
	url += "&username=jctcstudents";
	//alert(url)
	axios.get(url)
		.then( function(response ){
			city = response.data;
		
			station = city.weatherObservation.stationName;
			degC = city.weatherObservation.temperature;       // in degrees Celsius
			temp = (9/5)*degC + 32;    // convert degC to degF
			humidity = city.weatherObservation.humidity;
			elevMeters = city.weatherObservation.elevation;    // in meters
			elevation = elevMeters * 3.28;  // convert meters to feet 
		
			weatherData = "Station Name: " + station + "<br>";
			weatherData += "Temperature: " + temp.toFixed(1) + " degrees F.<br>";
			weatherData += "Humidity: " + humidity + "%<br>";
			weatherData += "Elevation: " + elevation.toFixed(1) + " feet.<br>";
			document.getElementById('data').innerHTML = weatherData;
   });


}

</script>

